<div class="row well">
    <div class="col-md-12">
        <h1 class="text-center">{{'SEARCH_ROUTE' | translate}}</h1>
        <form ng-submit="search()">
            <div class="form-group">
                <input ng-model="query" type="text" class="form-control" id="lugar" placeholder="{{'WRITE_A_PLACE' | translate}}">
            </div>
            <button type="submit" ng-submit="search()" class="btn btn-success">{{'SEARCH' | translate}}</button>
            <button class="btn btn-primary">{{'RESET' | translate}}</button>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-success text-center">
            <div class="panel-heading">{{'RESULTS' | translate}}</div>
            <div class="list-group">
                <a ng-repeat="travel in travels" href="/#/travels/{{travel.id}}" class="list-group-item list-group-item-info">
                {{travel.nameTravel}}
            </a>
            </div>
        </div>
    </div>
</div>

<div class="row well">
    <div class="col-md-12">
        <ui-gmap-google-map center='map.center' zoom='map.zoom'>
            <ui-gmap-polyline ng-repeat="travel in travels" path="travel.path">
            </ui-gmap-polyline>
        </ui-gmap-google-map>
    </div>
</div>
