<div class="well">
  <h2 class="text-center">See my travel</h2>
  <form novalidate class="form-horizontal">
    <div class="form-group">
      <label for="nameTravel" class="col-sm-2 control-label">Travel name</label>
      <div class="col-sm-10">
        <p class="form-control-static">{{travel.nameTravel}}</p>
      </div>
    </div>

    <div class="form-group">
      <label for="inicio" class="col-sm-2 control-label">Inicio</label>
      <div class="col-sm-10">
        <p class="form-control-static">{{travel.inicio}}</p>
      </div>
    </div>

    <div class="form-group">
      <label for="fin" class="col-sm-2 control-label">Fin</label>
      <div class="col-sm-10">
        <p class="form-control-static">{{travel.fin}}</p>
      </div>
    </div>

    <div class="form-group">
      <label for="route" class="col-sm-2 control-label">Route</label>
      <div class="col-sm-10">
        <p class="form-control-static">{{travel.route}}</p>
      </div>
    </div>

    <div class="form-group">
      <label for="fuel" class="col-sm-2 control-label">Fuel</label>
      <div class="col-sm-10">
        <p class="form-control-static">{{travel.fuel}}</p>
      </div>
    </div>

    <div class="form-group">
      <label for="toll" class="col-sm-2 control-label">Toll</label>
      <div class="col-xs-10">
        <p class="form-control-static">{{travel.toll}}</p>
      </div>
    </div>

    <div class="form-group">
      <label for="frequency" class="col-sm-2 control-label">Frequency</label>
      <div class="col-xs-10">
        <p class="form-control-static">{{travel.frequency}}</p>
      </div>
    </div>
  </form>
</div>
