<div class="well">
  <h2 class="text-center">{{'MESSAGES' | translate}}</h2>
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#/messages/inbox">{{'MESSAGE_INBOX' | translate}}</a></li>
    <li><a data-toggle="tab" href="/#/messages/outbox">{{'MESSAGE_OUTBOX' | translate}}</a></li>
    <li><a data-toggle="tab" href="/#/messages/new"><span class="glyphicon glyphicon-plus no-margin"></span> </a></li>
 </ul>
  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>{{'MESSAGE' | translate}}</th>
          <th>{{'MESSAGE_SENDER' | translate}}</th>
          <th>{{'MESSAGE_SUBJECT' | translate}}</th>
          <th>{{'MESSAGE_PRIVACITY' | translate}}</th>
          <th>{{'DATE' | translate}}</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="x in inbox | orderBy: date">
          <td><a style="cursor:pointer" href="/#/messages/{{ x.id }}" ><span class="glyphicon glyphicon-envelope"></span></a></td>
          <td>{{ x.sender }}</td>
          <td>{{ x.subject }}</td>
          <td>{{ x.isPublic }}</td>
          <td>{{ x.dt }}</td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>
  <div id="menu1" class="tab-pane fade">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>{{'MESSAGE' | translate}}</th>
        <th>{{'MESSAGE_SENDER' | translate}}</th>
        <th>{{'MESSAGE_SUBJECT' | translate}}</th>
        <th>{{'DATE' | translate}}</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="x in messages | orderBy: date">
        <td><a href="/#/messages/"+x.id> </a>test<span class="glyphicon glyphicon-envelope"></span></td>
        <td>{{ x.sender }}</td>
        <td>{{ x.subject }}</td>
        <td>{{ x.dt }}</td>
      </tr>
      </tbody>
    </table>
  </div>

</div>

