<div class="row" ng-show="loading">
    <div class="col-md-12">
      <div class="panel panel-info">
        <div class="panel-heading">Loading...</div>
          <div class="panel-body">
            <h2 class="text-center">Loading... Please wait...</h2>
          </div>
      </div>
    </div>
</div>

<div class="row well" ng-hide="loading">
    <div class="col-md-4">
        <h3>{{travel.nameTravel}}</h3>
        <dl class="dl-horizontal">
          <dt>Toll</dt>
          <dd>{{travel.toll}}</dd>

          <dt>Frequency</dt>
          <dd ng-repeat="day in days">
            <label class="checkbox-inline disabled">
              <input type="checkbox" id="inlineCheckbox1" value="{{day}}" ng-checked="dayIsPresent(day)" disabled> {{day}}
            </label>
          </dd>
        </dl>
    </div>
    <div class="col-md-4">
        <div class="panel panel-success text-center">
            <form class="" action="" method="">
              <pre>Selected date is: <em>{{dt | date:'fullDate' }}</em></pre>

              <div style="display:inline-block; min-height:290px;">
                <uib-datepicker ng-model="dt" class="well well-sm" datepicker-options="options"></uib-datepicker>
              </div>
            </form>
        </div>
    </div>
</div>


<div class="row well" ng-hide="loading">
    <div class="col-md-12">
        <ui-gmap-google-map center='map.center' zoom='map.zoom'>
            <ui-gmap-polyline path="travel.path">
            </ui-gmap-polyline>
        </ui-gmap-google-map>
    </div>
</div>
