<div class="row" ng-show="loading">
    <div class="col-md-12">
      <div class="panel panel-info">
        <div class="panel-heading">{{'LOADING' | translate}}...</div>
          <div class="panel-body">
            <h2 class="text-center">{{'LOADING' | translate}}... {{'PLEASE_WAIT' | translate}}...</h2>
          </div>
      </div>
    </div>
</div>

<div class="row well application-new" ng-hide="loading">
    <div class="col-md-3 travel-description">

      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">{{travel.nameTravel}}</h3>
        </div>
        <div class="panel-body">
          <dl class="dl-horizontal">
            <dt class="text-capitalize">{{'TOLL' | translate}}</dt>
            <dd>{{travel.toll}}</dd>

            <dt class="text-capitalize">{{'FUEL' | translate}}</dt>
            <dd>{{travel.fuel}}</dd>

            <dt class="text-capitalize">{{'FREQUENCY' | translate}}</dt>
            <dd ng-repeat="day in days">
              <label class="checkbox-inline disabled text-capitalize">
                <input type="checkbox" id="inlineCheckbox1" value="{{day}}" ng-checked="dayIsPresent(day)" disabled> {{day | translate}}
              </label>
            </dd>
          </dl>
        </div>
      </div>

    </div>
    <div class="col-md-6">

        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title"><dt class="text-capitalize">{{'SELECT_DATE' | translate}}</dt></h3>
          </div>
          <div class="panel-body text-center">
            <pre><em>{{dt | date:'fullDate' }}</em></pre>
            <div style="display:inline-block; min-height:290px;">
              <uib-datepicker ng-model="dt" class="well well-sm" datepicker-options="options"></uib-datepicker>
            </div>
          </div>
        </div>

    </div>

    <div class="col-md-3">
        <div class="panel panel-success">
          <div class="panel-heading">
            {{'APPLY' | translate}}
          </div>
          <div class="panel-body">
            <button type="button" name="button" ng-click="save(newApplication)"class="btn btn-success">{{'APPLY' | translate}}!</button>
            <a href="/#/travels/" class="btn btn-danger">{{'BACK' | translate}}!</a>
          </div>
        </div>

    </div>
</div>


<div class="row well" ng-hide="loading">
    <div class="col-md-12">
        <ui-gmap-google-map center='map.center' zoom='map.zoom'>
            <ui-gmap-polyline path="travel.path">
            </ui-gmap-polyline>
        </ui-gmap-google-map>
    </div>
</div>
