<div class="collapse navbar-collapse">
  <ul class="nav navbar-nav navbar-right">
    <div>
      <button ng-click="changeLanguage('es')" translate="BUTTON_TEXT_ES"></button>
      <button ng-click="changeLanguage('en')" translate="BUTTON_TEXT_EN"></button>
    </div>
    <li class="active"><a href="/#/">Home</a></li>
    <li ng-hide="authService.isLoggedIn()"><a ng-href="/#/login">Login</a></li>
    <li ng-show="authService.isLoggedIn()"><a ng-click="logout()" ng-href="/#/logout">Logout</a></li>
  </ul>
</div>
