<div class="collapse navbar-collapse">
  <ul class="nav navbar-nav navbar-right">
    <li ng-show="authService.isLoggedIn()"><a ng-href="/#/messages/inbox" span class="glyphicon glyphicon-inbox"></a> </li>
    <li><a class="language-button" ng-click="changeLanguage('es')" translate="BUTTON_TEXT_ES"></a></li>
    <li><a class="language-button" ng-click="changeLanguage('en')" translate="BUTTON_TEXT_EN"></a></li>
    <li><a ng-href="/#/about" ng-href="/#/about">About</a></li>
    <li ng-hide="authService.isLoggedIn()"><a ng-href="/#/login">Login</a></li>
    <li ng-show="authService.isLoggedIn()"><a ng-click="logout()" ng-href="/#/logout">Logout</a></li>
  </ul>
</div>
