<div class="well">

  <h1 class="text-center">{{'About_this_site' | translate }}</h1>

  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-12">
          <dl class="dl-horizontal">
              <dt>Team</dt>
              <dd>
                <a class="footer-link" href="https://github.com/DesarrolloDeAplicaciones-GrupoA">
                  <span class="glyphicon glyphicon-heart">  {{'Team_A' | translate}}</span>
                </a>
              </dd>
          </dl>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <dl class="dl-horizontal">

              <dt>See on Github</dt>
              <dd>
                <a href="https://github.com/DesarrolloDeAplicaciones-GrupoA/backend"><span class="glyphicon glyphicon-sort"></span>Backend</a>
              </dd>

              <dt>Travis</dt>
              <dd>
                <a href="https://travis-ci.org/DesarrolloDeAplicaciones-GrupoA/backend">
                  <img src="https://travis-ci.org/DesarrolloDeAplicaciones-GrupoA/backend.svg?branch=master"/>
                </a>
              </dd>

              <dt>Codacy</dt>
              <dd>
                <a href="https://www.codacy.com/app/DesarrolloDeAplicaciones-GrupoA/backend">
                  <img src="https://api.codacy.com/project/badge/grade/2709341668804273a8cdc71cee06e1c5" /></a>
              </dd>

              <dt>Coverage</dt>
              <dd>
                  <a href="https://www.codacy.com/app/DesarrolloDeAplicaciones-GrupoA/backend">
                    <img src="https://api.codacy.com/project/badge/coverage/2709341668804273a8cdc71cee06e1c5" /></a>
              </dd>

              <dt>Heroku</dt>
              <dd>
                <a href="http://subi-que-te-llevo.herokuapp.com/#/">
                  <img src="https://heroku-badge.herokuapp.com/?app=subi-que-te-llevo" alt="Subi que te llevo" />
                </a>
              </dd>

          </dl>
        </div>
        <div class="col-md-6">
          <dl class="dl-horizontal">

              <dt>See on Github</dt>
              <dd>
                <a class="footer-link" href="https://github.com/DesarrolloDeAplicaciones-GrupoA/frontend"><span class="glyphicon glyphicon-sort"></span>Frontend</a>
              </dd>

              <dt>Travis</dt>
              <dd>
                <a href="https://travis-ci.org/DesarrolloDeAplicaciones-GrupoA/frontend">
                  <img src="https://travis-ci.org/DesarrolloDeAplicaciones-GrupoA/frontend.svg?branch=master"/>
                </a>
              </dd>

              <dt>Codacy</dt>
              <dd>
                <a href="https://www.codacy.com/app/DesarrolloDeAplicaciones-GrupoA/frontend"><img src="https://api.codacy.com/project/badge/grade/8a09263b6ab241b8bf071acb80a35597" /></a>
              </dd>

          </dl>
        </div>
      </div>
    </div>
  </div>

</div>
