<div class="jumbotron">
    <h1> {{'PAGETITLE' | translate}} </h1>
    <p class="lead">
        <img src="images/taxi.jpeg" alt="Subí que te llevo">
        <br> {{'TITLEDESCRIPTION' | translate}}
    </p>
</div>

<div class="row marketing text-center">
    <div class="list-group">
        <a href="/#/routes" class="list-group-item"><span class="glyphicon glyphicon-search"></span> Buscar recorrido donde subir</a>
        <a ng-hide="isLoggedIn" href="/#/login" class="list-group-item"><span class="glyphicon glyphicon-user"></span> Inciar sesion para sumar a un recorrido</a>
        <a ng-show="isLoggedIn" href="/#/vehicles/new" class="list-group-item"><span class="glyphicon glyphicon-plus-sign"></span> Agregar un vehiculo nuevo</a>
    </div>
</div>
