<div class="row well">
    <div class="col-md-12">
        <h1 class="text-center">Buscar rutas</h1>
        <form action="/">
            <div class="form-group">
                <input type="text" class="form-control" id="lugar" placeholder="Escribe un lugar...">
            </div>
            <button type="submit" class="btn btn-success">Buscar!</button>
            <button class="btn btn-primary">Reset</button>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-success text-center">
            <div class="panel-heading">Resultados</div>
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-info active">
                Constitucion -> Obelisco
            </a>
                <a href="#" class="list-group-item">Costitucion -> Retiro</a>
                <a href="#" class="list-group-item">UNQ -> Luna Park</a>
            </div>
        </div>
    </div>
</div>

<div class="row well">
    <div class="col-md-12">
        <ui-gmap-google-map center='map.center' zoom='map.zoom'>
            <ui-gmap-polyline path='map.route'>
            </ui-gmap-polyline>
        </ui-gmap-google-map>
    </div>
</div>