<div class="row login">
    <div class="col-md-offset-2 col-md-8 well text-center">
        <h1>Inicia sesion para continuar</h1>
        <div class="row">
            <div class="col-xs-offset-2 col-xs-8 col-sm-offset-4 col-sm-4">
                <span id="signin" class="login-button"></span>
            </div>
        </div>
    </div>
</div>


<script>
    function onSuccess(googleUser) {
      console.log('Logged in as: ' + googleUser.getBasicProfile().getName());
    }
    function onFailure(error) {
      console.log(error);
    }
    function renderButton() {
      gapi.signin2.render('signin', {
        'scope': 'profile email',
        'width': 240,
        'height': 50,
        'longtitle': true,
        'theme': 'dark',
        'onsuccess': onSuccess,
        'onfailure': onFailure
      });
    }

</script>

<script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>