<div class="jumbotron">
  <h1>Subí que te llevo</h1>
  <p class="lead">
    <img src="images/taxi.jpeg" alt="I'm Yeoman"><br>
    Plataforma donde los usuarios puedan coordinarse para compartir viajes en auto o cualquier otro vehículo que permita llevar al menos 2 personas.
  </p>
</div>

<div class="row marketing">
  <p>
    <a href="/#routes/search" class="btn btn-primary">Buscar recorridos</a>
     Buscar recorrido donde subir.
  </p>

  <p>
    <a href="#/login" class="btn btn-success">Inciar Sesion</a>
     Iniciar session para sumarse a un recorrido o compartir uno.
  </p>
  
  <p>
    <a href="#/routes/new" class="btn btn-default">Crear un recorrido</a>
     Crear un recorrido
  </p>
</div>
