<div class="jumbotron">
    <h1>Subí que te llevo</h1>
    <p class="lead">
        <img src="images/taxi.jpeg" alt="Subí que te llevo">
        <br> Plataforma donde los usuarios puedan coordinarse para compartir viajes en auto o cualquier otro vehículo que permita
        llevar al menos 2 personas.
    </p>
</div>

<div class="row marketing text-center">
    <div class="list-group">
        <a href="/#routes" class="list-group-item"><span class="glyphicon glyphicon-search"></span> Buscar recorrido donde subir</a>
        <a href="/#login" class="list-group-item"><span class="glyphicon glyphicon-user"></span> Inciar sesion para sumar a un recorrido</a>
        <a href="/#routes/new" class="list-group-item"><span class="glyphicon glyphicon-plus-sign"></span> Agregar un recorrido nuevo</a>
    </div>
</div>